// body {
//   padding: 50px;
//   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
// }

// a {
//   color: #00B7FF;
// }

body {
    margin: 10px;
    padding: 10px;

    img {
        height: 15vw;
    }
}
